<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>calculator</title>
</head>
<body>
    <h1>calculator Main Page</h1>
    {% if error %}
     <h1 style="color: red">{{error}}</h1>
     {% endif %}
    <form method="post">
        {% csrf_token %}
    <label for="Num1">Enter number 1:</label>
    <input type="text" name="Num1" placeholder="enter number1" required ><br><br>
    <label for="Num2">Enter number 2:</label>
    <input type="text" name="Num2" placeholder="enter number2" required ><br><br>
    <label for="Op">Enter Operation:</label>
    <input type="text" name="Op" placeholder="enter operation" required ><br><br>
    <button type="submit">
        submit
    </button>
    
</form>

    {% if result %}
     <h1>result: {{result}}</h1>
     {% endif %}
     
</body>
</html>