<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>RESUME</title>
</head>
<body>
    <label for="Name">Enter your name:</label>
    <input type="text" name="Name" placeholder="Enter your name" required > <br><br>
    <label for="Contact">Enter your contact details:</label>
    <input type ="number" name="contact" placeholder="Enter your phone number"required><br><br>
    <label for ="Mail Id">Enter your E-Mail ID:</label>
    <input type ="text" name="Mail Id" placeholder="Enter your E-mail Id"required><br><br>
    <label for = "LinkedIn url">Give LinkedIn url:</label>
    <input type  = "text" name = "LinkedIn" placeholder ="Give LinkedIn url"><br><br>
    <label for = "Skills">Enter your Skills:</label>
    <input type ="text" name = "Skills" placeholder="Give details about your skills" required><br><br>
    <label for = "Education"> Enter your education details:</label>
    <input type = "text" name = "Education" placeholder="Give education details" required><br><br>
</body>
</html>